html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grasstop, .runway, .grass, .runway2, .grassbottom {
    position: relative;
}

.grasstop{
    background: green;
    height: 40%;
}

.Hangar1 {
    position: absolute;
    height: 202px;
    width: 188px;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-left: 10px solid grey;
    border-right: 10px solid grey;
    left: 220px;
}

.Hangar2 {
    position: absolute;
    height: 202px;
    width: 188px;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-left: 10px solid grey;
    border-right: 10px solid grey;
    left: 420px;
}

.fighter3 {
    position: absolute;
    top: -660px;
    left: -572px;
    transform: rotateZ(-22deg) scale(0.07);
    z-index: 1;
}

.fighter4 {
    position: absolute;
    top: -569px;
    left: -574px;
    transform: rotateZ(157deg) scale(0.07);
    z-index: 1;
}

.Hangar3 {
    position: absolute;
    height: 202px;
    width: 188px;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-left: 10px solid grey;
    border-right: 10px solid grey;
    left: 620px;
}

.Control {
    width: 157px;
    height: 123px;
    background: grey;
    position: absolute;
    margin: 0px 1093px;
    top: 66px;
}
.Control:before {
    content: "";
    width: 100px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid grey;
    border-left: 29px solid green ;
    border-right: 29px solid green ;
}
.Control:after {
    content: "";
    width: 100px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid grey;
    border-left: 29px solid green;
    border-right: 29px solid green;
}  

.path {
    position: absolute;
    background: dimgrey;
    box-sizing: border-box;
    border-left: 10px solid grey;
    border-right: 10px solid grey;
    width: 75px;
    height: 55px;
    top: 197px;
    left: 278px;
}

.path1 {
    position: absolute;
    background: dimgrey;
    box-sizing: border-box;
    border-left: 10px solid grey;
    border-right: 10px solid grey;
    width: 75px;
    height: 55px;
    top: 197px;
    left: 478px;
}

.path2 {
    position: absolute;
    background: dimgrey;
    box-sizing: border-box;
    border-left: 10px solid grey;
    border-right: 10px solid grey;
    width: 75px;
    height: 55px;
    top: 197px;
    left: 678px; 
}

.runway{
    height: 13%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    width: 100%;
}

.lines{
    box-sizing: border-box;
    border: 2.5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

.runway2{
    height: 13%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    width: 100%;
}

.lines2{
    box-sizing: border-box;
    border: 2.5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

.grass{
    background: green;
    height: 10%;
}

.grassbottom{
    background: green;
    height: 25%;
}

.forest{
    position: absolute;
    transform: scale(0.3);
    right: -218px;
    top: -200px;
}

.grasstop .forest{
    position: absolute;
    transform: scale(0.3);
    left: -215px;
    top: -200px;
}

.fighter1 {
    position: absolute;
    transform: scale(0.15);
    z-index: 1;
    top: -664px;
    right: -815px;
    animation: landing 20s forwards infinite ease-in, park 20s forwards 1 linear, takeoff2 20s forwards 1 cubic-bezier(0.4, 0, 1, 1);
    animation-direction: normal;
    animation-delay: 0s, 20s, 41s;
}

.fighter2 {
    position: absolute;
    transform: scale(0.07);
    z-index: 3;
    top: -665px;
    left: -745px;
    animation: takeoff 11s both infinite ease-in;

}

@keyframes takeoff{
    0%{transform: translateX(0%) scale(0.07)}
    40%{transform: translateX(30%) scale(0.07)}
    80%{transform: translateX(40%) scale(0.07)}
    100%{transform: translateX(110%) scale(0.2)};
}

@keyframes landing{
    0%{transform: translateX(0%) scale(0.15)}
    50%{transform: translate(-1100px) scale(0.07)}
    100%{transform: translate(-1166px) scale(0.07)};
    
}

@keyframes park{
    0%{transform: translateX(-1166px) scale(0.07)}
    40%{transform: translateX(-1166px) rotateZ(90deg) scale(0.07)}
    80%{transform: translate(-1166px) translateY(-243px) rotateZ(90deg) scale(0.07)}
    100%{transform: translate(-1166px , -243px) rotateZ(270deg) scale(0.07)};  /*translate(x , y) axis' position */
}

@keyframes takeoff2{
    0%{transform: translate(-1166px , -243px) rotateZ(270deg) scale(0.07)}
    25%{transform: translate(-1166px) translateY(0px) rotateZ(270deg) scale(0.07)}
    50%{transform: translate(-1166px , 0px) rotateZ(180deg) scale(0.07)}
    75%{transform: translate(-1020px , 0px) rotateZ(180deg) scale(0.07)}
    100%{transform: translate(45px , 0px) rotateZ(180deg) scale(0.3)};
}

